@model Product
    <div class="col-lg-3">
        <div class="single_product">
            <div class="product_thumb">
                <a asp-controller="App" asp-action="SingleProduct" asp-route-id="@Model.Id"><img src="~/assets/img/product/@Model.ProductFirstImage" alt=""></a>
                <div class="img_icone">
                    <img src="~/assets/img/cart/span-new.png" alt="">
                </div>
                @*<div class="hot_img">
                        <img src="~/assets/img/cart/span-hot.png" alt="">
                    </div>*@
                <div class="product_action">
                    <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.Id"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                </div>
            </div>
            <div class="product_content">
                <span class="product_price">$@Model.Price</span>
                <h3 class="product_title"><a href="single-product.html">@Model.Name</a></h3>
            </div>
            <div class="product_info">
                <ul>
                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">View Detail</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- modal area start -->
    <!--<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/assets/img/product/@Model.ProductFirstImage" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/assets/img/product/@Model.ProductSecondImage" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/assets/img/product/@Model.ProductThirdImage" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive" role="tablist">
                                            <li>
                                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="~/assets/img/product/@Model.ProductFirstImage" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="~/assets/img/product/@Model.ProductSecondImage" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="~/assets/img/product/@Model.ProductThirdImage" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>@Model.Name</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$@Model.Price</span>-->
                                        @*<span class="old_price">$78.99</span>*@
                                    @*</div>
                                    <div class="modal_content mb-10">
                                        <p>@Model.ShortDescription</p>
                                    </div>
                                    <div class="modal_size mb-15">
                                        <h2>size</h2>
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                    <div class="modal_add_to_cart mb-15">
                                        <form asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" method="post">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>@Model.Description</p>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
